* {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 32px;
}

header {
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
}

h1 {
    font-weight: 400;
}

h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
}

p {
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
    text-shadow: 1px 1px 3px;
}